@media screen and (min-width: 530px) {
    div {
        position: relative;
        margin: auto;
        width: 50%;
        min-width: 530px;
        height: 90vh;
    }

    section {
        margin-left: 140px;
    }

    aside {
        margin-right: 2%;
        width: 25%;
        min-width: 150px;
        height: 100%;
        float: left;
        background-color: red;
        color: white;
        font-size: 15px;
    }
}

@media screen and (max-width: 530px) {
    div {
        position: relative;
        margin: auto;
        width: 100%;
        min-width: 150px;
        min-height: 90vh;
    }

    section {
        margin-left: 140px;
    }

    aside {
        position: absolute;
        bottom: 0;
        left: 0;
        margin-right: 10px;
        width: 150px;
        height: 100%;
        float: left;
        background-color: red;
        color: white;
        font-size: 15px;
    }
}

header {
    box-sizing: border-box;
    text-align: center;
    height: 3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: green;
}

footer {
    box-sizing: border-box;
    text-align: center;
    height: 1.6em;
    padding: 0.2em;
    color: white;
    background-color: black;
    font-size: 16px;
}

body {
    font-family: Arial;
    margin: 0;
}

h1 {
    margin: 0;
    color: white;
    font-size: 25px;
    text-align: center;
}

ul > li {
    list-style: none;
    padding: 5px;
    padding-right: 20px;
}

p {
    text-align: justify;
    margin: 0;
    padding: 20px;
}

    p::first-letter {
        color: red;
        font-size: 18px;
    }

::selection {
    background: green;
    color: white;
}