@media screen and (min-width: 480px){
    div {
        position: center;
        min-width: 480px;
        width: 40%;
        background-color: blue;
        color: white;
        margin: 0 auto;
    }
}

@media screen and (max-width: 480px) {
    div {
        width: 100%;
        background-color: blue;
        color: white;
        margin: 0 auto;
    }
}

