p{
    padding:0;
    margin:0;
}

#float {
    margin: 10px;
    float: left;
    width: 150px;
    height: 80px;
    background-color: aquamarine;
}

#clear {
    clear: left;
    background-color: bisque;
}