p {
    margin: 0;
    font-size: 14px;
}

.Inline_block{
    display: inline-block;
    margin: 10px;
    width:165px;
    height:83px;
    background-color:aquamarine;
}

#Footer_line{
    width: 100%;
    background-color: bisque;
}

