@media screen and (min-width: 600px) {
    ul {
        list-style-type: disc;
    }

    #NavigationBlock {
        float: left;
        height: 100%;
        width: 150px;
        min-width: 100px;
        background-color: bisque;
    }

    #ContentBlock {
        margin: 0 0 0 150px;
        background-color: darkgray;
    }
}
@media screen and (max-width: 600px) {
    li{
        display: inline-block;
    }

    #ContentBlock {
        background-color: darkgray;
        width: 100%;
    }

    #NavigationBlock {
        width: 100%;
        background-color: bisque;
    }
}

div {
    font-size: 14px;
    height: 20%;
    padding: 0;
}

#Block {
    margin: 0;
    padding: 0;
    border: 1px solid forestgreen;
    width: auto;
    background-color: aqua;
}

p {
    padding-right: 10px;
    margin: 0;
}