div {
    padding: 10px;
    position: center;
    width: 40%;
    min-width: 480px;
    color: white;
    margin: 0 auto;
}

#GreenBlock {
    background-color: green;
}

#BlueBlock {
    border:30px solid;
    border-color:blue;
    background-color: blue;
}
