div {
    font-size: 14px;
    height: 20%;
    padding: 0;
}

p {
    padding-right: 10px;
    margin: 0;
}

img{
    float:right;
}

#clear {
    clear: right;
}

ul {
    list-style-type: disc;
}

#Block {
    border: 1px solid limegreen;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: aqua;
}

#NavigationBlock {
    float: left;
    height: 100%;
    width: 150px;
    min-width: 100px;
    background-color: bisque;
}

#ContentBlock {
    margin: 0 0 0 150px;
    background-color: darkgray;
}